@import '../shared/styles/dialog-styles.scss';

.tipo-option,
.status-option,
.conta-option,
.categoria-option {
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon {
    font-size: 18px;
    color: #1976d2;
  }
}

