.lancamentos-container {
  padding: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-list-item {
  border-bottom: 1px solid #e0e0e0;
}

mat-list-item:last-child {
  border-bottom: none;
}

